*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.content {
    background-color: #093545;
    height: 100vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
    font-family: Lexend Deca, sans-serif;

}
.h1c{
  margin-bottom: 38px;
  font-size: 24px;  
  line-height: 30px;
}

.input{
    background: #224957;
    border-radius: 10px;
    width: 300px;
    height: 45px;
    border: 1px solid #224957;
    margin-bottom: 38px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    outline: none;
    padding: 0 10px;
    color: #fff;
}
::placeholder{
    color: #fff;
    font-size: 14px;
    line-height: 20px;
}

.buttonEnviar{
    width: 300px;
    height: 45px;   
    background: #20DF7F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 1px solid #20DF7F;
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
}
.buttonEnviar:hover{
    background: #48d38d;
    transform: scale(1.02);
}

.linkBack{
    text-decoration: none;
    margin-bottom: 18px;
    color: #fff;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex-direction: row;

    width: 60px;
}

